.calendar-table {
    --width: 100%;
    --height: 100%;
    --radius: 5px;
    --color-opacity: 0.70;
    --border-opacity: 0.25;
    --background-opacity: 0.10;
    
    // cell
    --base-color: 0, 0, 0;
    --sun-color: 255, 0, 0;
    --sat-color: 0, 0, 255;
}

.calendar-table {
    color: rgb(var(--base-color), var(--color-opacity));
    width: var(--width);
    height: var(--height);
    display: flex;
    flex-direction: column;
    
    .calendar-header, .calendar-body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        &.calendar-body{
            flex: 1;
        }

        .calendar-cell {
            width: 14.28%; // (100% / 7)
            text-align: center;
            box-sizing: border-box;
            border-radius: var(--radius);
            border-right: 1px solid rgb(var(--base-color), var(--border-opacity));
            border-bottom: 1px solid rgb(var(--base-color), var(--border-opacity));
        }
        .sun {
            color: rgb(var(--sun-color), var(--color-opacity));
            background-color: rgb(var(--sun-color), var(--background-opacity));
        }
        .sat {
            color: rgb(var(--sat-color), var(--color-opacity));
            background-color: var(--sat-bg-color);
        }
        .calendar-day-other-month {
            color: rgb(var(--base-color), calc(var(--color-opacity)/2));
            background-color: rgb(var(--base-color), var(--background-opacity));
        }
    }
}