.calendar-wrapper{
    --width: 100%;
    --height: 100%;
    --title-height: 25px;
    --cell-week-width: 14.28%; //横幅100%を7分割
    --radius: 5px;
    --color-opacity: 0.70;
    --border-opacity: 0.25;
    --background-opacity: 0.10;
    
    // cell
    --base-color: 0, 0, 0;
    --sun-color: 255, 0, 0;
    --sat-color: 0, 0, 255;
}
.calendar-wrapper {
    position: relative;
    width: var(--width);
    height: var(--height);
    color: rgb(var(--base-color), var(--color-opacity));

    .calendar-underlay, .calendar-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--width);
        height: var(--height);
    }
}
.calendar-header {
    min-height: var(--title-height);
}
.calendar-day-cell {
    text-align: center;
    background: white;
    box-sizing: border-box;
    border-radius: var(--radius);
    border-right: 1px solid rgb(var(--base-color), var(--border-opacity));
    border-bottom: 1px solid rgb(var(--base-color), var(--border-opacity));
}
.calendar-event {
    z-index: 10;
    text-align: left;
    background: rgb(200, 200, 255);
    min-height: var(--title-height);
    margin-left: 3%;

    box-sizing: border-box;
    border-right: 1px solid rgb(var(--base-color), var(--border-opacity));
    border-bottom: 1px solid rgb(var(--base-color), var(--border-opacity));
    border-radius: var(--radius);
}
.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-9 { order: 9; }
.blank {
    z-index: 0;
    border: none;
    background: none;
}
.event-inner{
    width: 100%;
    height: 100%;
    border-radius: var(--radius);

    &:hover {
        background: rgb(0, 0, 0, 0.1);
    }
}

.calendar-month{
    .calendar-underlay, .calendar-overlay {
        display: flex;
        flex-direction: column;
    }
    .calendar-body {
        flex: 1;
    }
    .calendar-header, .calendar-body {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }
    .calendar-underlay {
        .sun {
            color: rgb(var(--sun-color), var(--color-opacity));
            background: rgb(var(--sun-color), var(--background-opacity));
        }
        .sat {
            color: rgb(var(--sat-color), var(--color-opacity));
            background: rgb(var(--sat-color), var(--background-opacity));
        }
        .calendar-day-other-month {
            color: rgb(var(--base-color), calc(var(--color-opacity)/2));
            background: rgb(var(--base-color), var(--background-opacity));
        }
    }
    .calendar-overlay {
        .calendar-day-cell {
            height: 0px;
            background: transparent;
            border: none;
            padding-top: var(--title-height);

            display: flex;
            flex-direction: column;
            gap: 3px;
        }
    }
}

.calendar-week {
    overflow-y: auto;
    
    .calendar-underlay, .calendar-overlay {
        display: flex;
        flex-direction: column;
    }
    .calendar-header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .calendar-body {
        flex: 1;
    }
    .calendar-header, .calendar-body {
        display: flex;
    }
    .calendar-sidebar {
        font-size: 8px;
        width: var(--title-height);

        box-sizing: border-box;
        border-radius: var(--radius);
        border-right: 1px solid rgb(var(--base-color), var(--border-opacity));
        border-bottom: 1px solid rgb(var(--base-color), var(--border-opacity));

        display: flex;
        flex-direction: column;
    }
    .calendar-day-cell {
        flex: 1;

        display: flex;
        flex-direction: column;
    }
    .calendar-time-cell {
        flex: 1;
        min-height: 30px;
        max-height: 30px;
        box-sizing: border-box;
        border-top: 1px dotted rgb(var(--base-color), var(--border-opacity));

        &.separator {
            border-top: 1px solid rgb(var(--base-color), var(--border-opacity));
        }
        &:first-child {
            border: none;
        }
    }
    .calendar-underlay {
        .calendar-header {
            background: transparent;
        }
        .calendar-sidebar .calendar-time-cell {
            background: white;
        }
        .sun {
            color: rgb(var(--sun-color), var(--color-opacity));
            background: rgb(var(--sun-color), var(--background-opacity));
        }
        .sat {
            color: rgb(var(--sat-color), var(--color-opacity));
            background: rgb(var(--sat-color), var(--background-opacity));
        }
        .calendar-day-other-month {
            color: rgb(var(--base-color), calc(var(--color-opacity)/2));
            background: rgb(var(--base-color), var(--background-opacity));
        }
    }
    .calendar-overlay {
        .calendar-day-cell {
            flex: 1;
            width: 0px;
            background: transparent;
    
            display: flex;
            flex-direction: column;
        }
        .calendar-time-cell {
            display: flex;
        }
        .calendar-event {
            flex: 1;
            margin: 2px;
            
            overflow: hidden;
        }
        .event-inner {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        & * {
            border: none !important;
        }
    }
}
