.react-resizable-hide {
    z-index: -1 !important;
    border: 3px solid red !important;
    top: -3px !important;
    left: -3px !important;
}

.tile-cell {
    height: 100%;
    background: white;
    box-sizing: border-box;
    border-radius: 5px;

    .tile-header {
        height: var(--title-height);
        display: flex;
        align-items: center;

        background: rgb(200, 200, 200);
        border-radius: var(--radius) var(--radius) 0px 0px;

        span {
            margin-left: var(--radius);
            color: rgb(80, 80, 80);
        }
        .icon {
            height: 20px;

            svg {
                font-size: 20px;
                color: rgb(0, 0, 0, 0.3);
            }
            &:hover {
                cursor: pointer;
                color: rgb(0, 0, 0, 0.5);
            }
        }

        .close-btn {
            margin-left: auto;
        }
    }
    .tile-content {
        height: calc(100% - var(--title-height))
    }
}

.property-wrapper {
    margin: 5px;
    border-radius: var(--radius);
}
.property-row {
    display: flex;
    border-right: 1px solid rgb(0, 0, 0, 0.5);

    &:last-child {
        border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    }
}
.property-col {
    flex: 1;
    border-top: 1px solid rgb(0, 0, 0, 0.5);
    border-left: 1px solid rgb(0, 0, 0, 0.5);
    padding: 5px;
}

.record-input {
    margin: 5px;
    width: calc(100% - 15px);
    height: 500px;
}