:root {
    --nav-bar-height: 64px;
    --radius: 5px;
    --title-height: 25px;
}

body {
    margin: 0
}

.MuiAppBar-root {
    position: relative;
    z-index: 100;
    box-shadow: none;
}

.MuiDrawer-root {
    z-index: 90;
    top: var(--nav-bar-height);

    .MuiBackdrop-root{
        top: var(--nav-bar-height);
    }
    .MuiPaper-root{
        top: var(--nav-bar-height);
    }
}